---
layout: "/_layout.html.haml"
title: Testimonials
...

.row

  .columns.large-7

    = quote "Simon Mark, Wellington" do

      “Borderline Framing has undertaken framing for several of my recent shows of photography. The high quality of the framing has never faltered, and the work has always been done on time and within budget. This is the best priced quality framing I have been lucky enough to benefit from. I can recommend Campbell’s work without qualification. In fact you’d be mad not to use his services.”

  .columns.large-5

    = quote "Mary, Waikanae" do

      “You are meticulous in your work and sensitive to the needs of what it is to be framed, with a detailed understanding of the requirements for conservation framing. I am more than delighted with work you have done so well for me.”

.row

  .columns.large-5

    = quote "Vicky Fabian and Norm Antcliff, Wellington" do

      “We have been thrilled with the framing Campbell has done for us and often we receive positive comments about it from visitors. He understands how to get the most out of an artwork by setting it up beautifully. And he is always a delight to deal with.”

  .columns.large-7

    = quote "Margaret Malaghan, Auckland" do

      “Campbell is a perfectionist, whether it is a simple frame for a photo or something complex for a special painting. He has an eye for detail and over many years he has been perfecting his skills in framing, he has kept up with the latest techniques and developments. His suggestions and recommendations for framing are spot on. I highly recommend him - you will not be disappointed.”

.row

  .columns.large-7

    = quote "Wally Leighton, Opito Bay" do

      “For several years now I have relied on the skill of Campbell’s hobby framing to mount our many photos. The service provided was friendly, prompt and extremely cost effective. Always the presentation was of a particularly high standard. Now that Campbell is taking his hobby to another level I have no hesitation in recommending his skill to any discerning person seeking a professional framing job for a competitive price. The after sales support and advice he gives is top notch.”

  .columns.large-5

    = quote "Peter Rowlands, Wellington" do

      “Being something of an obsessional perfectionist, it’s rare for me to invest so wholly in someone to look after our artwork. I can never thank you enough for not just the quality of your mounting and framing but your unfailing sense of what will work aesthetically.”
